{% set banner = "01-300x50" %}
{% set size = "width: 300px; height:50px;" %}

{% extends "layout.html" %}

{% block stylesheets %}
   <link rel="stylesheet" href="css/main.css">
   {% if orientationStyle %}<link rel="stylesheet" href="{{ orientationStyle }}">{% endif %}
   {% if pageStyle %}<link rel="stylesheet" href="{{ pageStyle }}">{% endif %}
{% endblock %}

{% block bodyClass %}{% endblock %}

{% block content %}

  <!--enter content here-->

{% endblock %}

{% block isi %}
  {% include './isi.html' %}
{% endblock %}

{% block scripts %}
   <script src="js/main.js"></script>
   {% if orientationScript %}<script src="{{ orientationScript }}"></script>{% endif %}
{% endblock %}