{% set width = 160 %} 
{% set height = 600 %}

{% set banner = "sample-multi-direction-expanding-banner" %}
{% block bannerClass %}{% endblock %}

{% from "./links.html" import link, closeLink, enabler %}

{% extends "layout-expanding.html" %}


{% block mainContentCollapsed %}

  {% include './main-content-collapsed.html' %}
  <!--enter page specific content here-->

{% endblock %}

{% block isiCollapsed %}
  {% include './isi.html' %}
{% endblock %}

{% block mainContentExpanded %}

  {% include './main-content-expanded.html' %}
  <!--enter page specific content here-->

{% endblock %}


{% block isiExpanded %}
  {% include './isi.html' %}
{% endblock %}