/* Place SCSS for horizontal banners here */
@import "../modules/all";
@import "../vendor/normalize";
@import "../orientation/vertical";

/* Alter variables for one specific banner by redefining them here */


@import "../partials/all";

#main-panel.large-rectangle {
  /* Declare banner specific styles here */
  position: absolute;
  top: 0px;
  left: 0px;
  width: 336px;
  height: 280px;

  #collapsed-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 336px;
    height: 280px;
  }

  #expanded-panel {
    display: none;
  }

}
