@import "../vendor/normalize";
@import "../modules/all";
@import "../orientation/vertical";

/* Alter variables for one specific banner by redefining them here */


@import "../partials/all";

#main-panel.sample-expanding-banner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 640px;
  height: 250px;

  #collapsed-panel {
    position: absolute;
    top: 0px;
    left: 320px;
    width: 320px;
    height: 250px;
  }

  #expanded-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 640px;
    height: 250px;
  }

  /* Declare banner specific styles here */


}
