@import "../vendor/normalize";
@import "../modules/all";
@import "../orientation/vertical";

/* Alter variables for one specific banner by redefining them here */


@import "../partials/all";

#main-panel.sample-multi-drection-expanding-banner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1040px;
  height: 600px;

  #collapsed-panel {
    position: absolute;
    top: 0px;
    left: 440px;
    width: 160px;
    height: 600px;
  }

  #expanded-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1040px;
    height: 600px;
  }

  /* Declare banner specific styles here */


}
