@import "../vendor/normalize";
@import "../modules/all";
@import "../orientation/vertical";

/* Alter variables for one specific banner by redefining them here */


@import "../partials/all";

#main-panel.sample-static-banner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 336px;
  height: 280px;

  /* Declare banner specific styles here */

}
