@import "../vendor/normalize";
@import "../modules/all";
@import "../orientation/vertical";

/* Alter variables for one specific banner by redefining them here */


@import "../partials/all";

#main-panel.sample-expanding-banner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 640px;
  height: 250px;

  #collapsed-panel,
  #collapsed-content-wrapper {
    position: absolute;
    width: 320px;
    height: 250px;
  }

  #collapsed-panel {
    top: 0px;
    right: 0px;
  }

  #expanded-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 640px;
    height: 250px;
  }

  #expanded-content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    right: 0px;
    width: 320px;
    height: 250px;
  }

  .expand > div {
    width: 640px !important;
    height: 250px !important;
  }

  /* Declare banner specific styles here */


}
