<div id="custom-scrollbar" class="custom-scrollbar">
   <div class="custom-scrollbar__thumb"></div>
</div>
<div id="isi-container" class="isi-container">
   <div id="isi" class="isi">
      <div class="isi__warning-box">
      <p><strong>Warning: Asthma-Related Death</strong></p>
      <p>
         Long-acting beta<sub>2</sub>-adrenergic agonists (LABAs) increase the risk of asthma-related death. Data from a large placebo-controlled US study that compared the safety of another LABA (salmeterol) or placebo added to usual asthma therapy showed an increase in asthma-related deaths in patients receiving salmeterol. This finding with salmeterol is considered a class effect of all LABAs, including indacaterol, one of the active ingredients in UTIBRON NEOHALER. The safety and efficacy of UTIBRON NEOHALER in patients with asthma have not been established. UTIBRON NEOHALER is not indicated for the treatment of asthma.
      </p>
      </div>
      <div class="isi__content">
      <p>
         <strong>Indication</strong>
      </p>
      <p>
         UTIBRONTM NEOHALER<sup>&reg;</sup> (indacaterol and glycopyrrolate) is a combination of indacaterol and glycopyrrolate indicated for the long-term, maintenance treatment of airflow obstruction in patients with chronic obstructive pulmonary disease (COPD), including chronic bronchitis and/or emphysema. 
      </p>
      <p>
         Important limitations: UTIBRON NEOHALER is not indicated to treat acute deteriorations of COPD and is not indicated to treat asthma.
      </p>
      <p>
         All LABAs, including, indacaterol are contraindicated in patients with asthma without the use of a long-term asthma-control medication; UTIBRON NEOHALER is also contraindicated in patients with a history of hypersensitivity to indacaterol, glycopyrrolate, or to any of the ingredients.
      </p>
      <p>
         UTIBRON NEOHALER should not be initiated in patients with acutely deteriorating or potentially life-threatening episodes of COPD or used as rescue therapy for acute episodes of bronchospasm. Acute symptoms should be treated with an inhaled short-acting beta<sub>2</sub>-agonist.
      </p>
      <p>
         UTIBRON NEOHALER should not be used more often, at higher doses than recommended, or in conjunction with other medicines containing LABAs as an overdose may result. Patients who have been taking inhaled short-acting beta<sub>2</sub>-agonists on a regular basis should be instructed to discontinue their regular use and to use them only for symptomatic relief of acute respiratory symptoms. Clinically significant cardiovascular effects and fatalities have been reported in association with excessive use of inhaled sympathomimetic drugs. Patients using UTIBRON NEOHALER should not use another medicine containing a LABA for any reason.
      </p>
      <p>
         Immediate hypersensitivity reactions have been reported with UTIBRON NEOHALER. If signs occur, discontinue immediately and institute alternative therapy. UTIBRON NEOHALER should be used with caution in patients with severe hypersensitivity to milk proteins.
      </p>
      <p>
         As with other inhaled medicines, UTIBRON NEOHALER can produce paradoxical bronchospasm that may be life threatening. If paradoxical bronchospasm occurs following dosing with UTIBRON NEOHALER, it should be treated immediately with an inhaled, short-acting bronchodilator; UTIBRON NEOHALER should be discontinued immediately and alternative therapy instituted. 
      </p>
      <p>
         Indacaterol, like other beta<sub>2</sub>-agonists, can produce a clinically significant cardiovascular effect in some patients as measured by increases in pulse rate, systolic or diastolic blood pressure, or symptoms. UTIBRON NEOHALER should be used with caution in patients with cardiovascular disorders, especially coronary insufficiency, cardiac arrhythmias, and hypertension. beta<sub>2</sub>-adrenergic agonists may produce significant hypokalemia in some patients.
      </p>
      <p>
         As with other beta<sub>2</sub>-agonists, indacaterol should be administered with extreme caution in patients being treated with monoamine oxidase inhibitors, tricyclic antidepressants, or other drugs known to prolong the QTc interval because these agents may potentiate the action of adrenergic agonists on the cardiovascular system. 
      </p>
      <p>
         As with other beta<sub>2</sub>-agonists, UTIBRON NEOHALER should be used with caution in patients treated with additional adrenergic drugs, non-potassium-sparing diuretics, and beta-blockers.
      </p>
      <p>
         UTIBRON NEOHALER, like all medicines containing sympathomimetic amines, should be used with caution in patients with convulsive disorders, thyrotoxicosis, diabetes mellitus, ketoacidosis, and in patients who are unusually responsive to sympathomimetic amines. 
      </p>
      <p>
         UTIBRON NEOHALER should be used with caution in patients with narrow-angle glaucoma and in patients with urinary retention. Patients should be instructed to consult a physician immediately should any of these signs or symptoms develop.
      </p>
      <p>
         The most common adverse events reported in ≥1% of patients taking UTIBRON NEOHALER, and occurring more frequently than in patients taking placebo, were nasopharyngitis (4.1% vs 1.8%), hypertension (2.0% vs 1.4%), back pain (1.8% vs 0.6%), and oropharyngeal pain (1.6% vs 1.2%). 
      </p>
      <p>
         UTIBRON capsules must not be swallowed as the intended effects on the lungs will not be obtained. UTIBRON capsules are only for oral inhalation and should only be used with the NEOHALER device. 
      </p>
      <p>
         You are encouraged to report negative side effects of prescription drugs to the FDA. Visit www.fda.gov/medwatch or call 1-800-FDA-1088.
      </p>
      <p>
         For additional information, please see the full Prescribing Information, including BOXED WARNING and Medication Guide, for UTIBRON NEOHALER at <a href="http://www.sunovionprofile.com/utibron">www.sunovionprofile.com/utibron</a>.
      </p>
      </div>
   </div>
</div>