<div class="isi__content">
  <p>
    <strong>ISI Auto Scroller</strong>
  </p>
  <p>
    Welcome to the {{ link(testLink, 'test') }}Isi (Important Safety Information){{ closeLink() }} auto-scroller. This has been pre-made in this framework because it is a necessary component for all medical banner ads.
  </p>
  <p>
    You can edit the ISI content in 'resources/html/components/isi.html'. You can customize the background color, text color, scrollbar track color, and scrollbar thumb color by changing the variable values in 'resources/scss/modules/_variables.scss'.
  </p>
  <p>
    For further style customization, you can modify the isi component style in 'resources/scss/partials/_isi.scss'.
  </p>
  <p>
    You can adjust the scroll speed by changing the 'scrollSpeedMultiplier' variable at the top of 'resources/js/main.js' or 'resources/js/main-expanding.js'. In this file you can also further customize the Isi Object and add any additional methods and functionality as needed.
  </p>
  <p>
    The rest of the text in this section is basic Lorem Ipsum to showcase the scroll functionality with a larger set of content.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Ac placerat vestibulum lectus mauris ultrices eros. Fames ac turpis egestas integer. Arcu dui vivamus arcu felis bibendum ut tristique et. Dui ut ornare lectus sit amet est placerat. Rhoncus aenean vel elit scelerisque mauris pellentesque. Elementum sagittis vitae et leo duis ut diam quam. Donec adipiscing tristique risus nec feugiat in.
  </p>
  <p>
    Vel eros donec ac odio. Dolor magna eget est lorem ipsum dolor. Nulla facilisi nullam vehicula ipsum a. Scelerisque fermentum dui faucibus in ornare. Lectus mauris ultrices eros in cursus turpis massa tincidunt. Mauris commodo quis imperdiet massa tincidunt. Vel pharetra vel turpis nunc eget lorem dolor sed viverra. Nulla aliquet porttitor lacus luctus accumsan. In cursus turpis massa tincidunt dui ut. Purus non enim praesent elementum facilisis leo vel fringilla.
  </p>
  <p>
    Aenean pharetra magna ac placerat vestibulum lectus. A condimentum vitae sapien pellentesque habitant morbi. Euismod lacinia at quis risus sed vulputate odio. Turpis egestas integer eget aliquet nibh praesent tristique. Adipiscing elit ut aliquam purus sit amet luctus. Orci eu lobortis elementum nibh tellus. Nunc non blandit massa enim nec dui.
  </p>
  <p>
    Suspendisse ultrices gravida dictum fusce ut placerat orci nulla. Tellus mauris a diam maecenas sed enim ut. Augue interdum velit euismod in pellentesque massa placerat duis ultricies. Posuere ac ut consequat semper. Pellentesque sit amet porttitor eget dolor. Nec nam aliquam sem et tortor consequat id porta. Et leo duis ut diam quam nulla porttitor massa.
  </p>
  <p>
    Libero justo laoreet sit amet cursus sit amet dictum. Semper eget duis at tellus at urna condimentum mattis. Augue interdum velit euismod in pellentesque massa placerat duis. In cursus turpis massa tincidunt dui. Nulla facilisi nullam vehicula ipsum a arcu cursus. Arcu dictum varius duis at consectetur.
  </p>
  <p>
    Id semper risus in hendrerit gravida rutrum quisque non. Nisi vitae suscipit tellus mauris a diam maecenas sed enim. Velit sed ullamcorper morbi tincidunt ornare massa. Vel eros donec ac odio tempor orci. Ullamcorper a lacus vestibulum sed arcu non odio euismod. Sed blandit libero volutpat sed cras ornare arcu dui vivamus. Integer eget aliquet nibh praesent tristique magna sit.
  </p>
  <p>
    Nec tincidunt praesent semper feugiat nibh. Ac felis donec et odio pellentesque diam volutpat. Id cursus metus aliquam eleifend mi in nulla posuere sollicitudin. Sit amet consectetur adipiscing elit pellentesque habitant morbi tristique.
  </p>
  <p>
    UTIBRON NEOHALER should be used with caution in patients with narrow-angle glaucoma and in patients with urinary retention. Patients should be instructed to consult a physician immediately should any of these signs or symptoms develop.
  </p>
  <p>
    Adipiscing elit pellentesque habitant morbi tristique senectus et netus. Diam ut venenatis tellus in metus vulputate eu. Suspendisse in est ante in. Egestas fringilla phasellus faucibus scelerisque. Sit amet facilisis magna etiam tempor orci. Rhoncus urna neque viverra justo nec ultrices dui. Ut ornare lectus sit amet est placerat in egestas. Id velit ut tortor pretium viverra suspendisse potenti. Duis tristique sollicitudin nibh sit amet. Ornare lectus sit amet est.
  </p>
  <p>
    In egestas erat imperdiet sed euismod nisi. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Sagittis eu volutpat odio facilisis mauris sit amet. Nulla pharetra diam sit amet. Egestas diam in arcu cursus. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus.
  </p>
  <p>
    Posuere ac ut consequat semper viverra nam libero justo laoreet. Faucibus interdum posuere lorem ipsum dolor sit amet consectetur. A arcu cursus vitae congue mauris.
  </p>
</div>