/* Place SCSS for horizontal banners here */
@import "modules/all";

$isi-height : 100%;
$isi-width: 50%;

@import "partials/all";

@import "vendor/normalize";


.body {
   background-color: red;

   p {
      color: crimson;
   }
}

