/* Place SCSS for horizontal banners here */
@import "modules/all";
@import "vendor/normalize";

/* Declare Variables with Orientation-Specific Values Here */
$main-content-height : 100%;
$main-content-width: 71%;
$isi-height : 100%;
$isi-width: 29%;

$gradient-direction: right;
$flex-direction: row;

@import "partials/all";

.v-only {
   display: none;
}

.main-content {
   display: flex;

   &__image-container {
      padding-top: 0;
      height: 100%;
   }

   & > * {
      width: 33%;
   }

}



