/* Place SCSS for vertical banners here */
@import "modules/all";
@import "vendor/normalize";

/* Declare Variables with Orientation-Specific Values Here */
$main-content-height : 71%;
$main-content-width: 100%;
$isi-height : 29%;
$isi-width: 100%;

$gradient-direction: bottom;
$flex-direction: column;

@import "partials/all";

