.isi-container-wrapper {
	height: $isi-height;
	width: $isi-width;
	position: relative;
}

.isi-container {
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: $isi-background-color;
	display: block;
	position: relative;
	height: 100%;
}

.isi {
	position: absolute;
	padding: $content-outer-padding;
	padding-right: $content-outer-padding + $isi-scrollbar-width;
	padding-bottom: $content-outer-padding;
	width: 100%;
	top: 0;
	left: 0;
	color: $isi-text-color;
}

.iScrollVerticalScrollbar {
	background-color: $isi-scrollbar-background-color !important;
	width: $isi-scrollbar-width;
}

.iScrollIndicator {
	background-color: $isi-indicator-color !important;
	border: none !important;
	height: $isi-indicator-height !important;
	border-radius: 0 !important;
}