.isi-container-wrapper {
   height: $isi-height;
   width: $isi-width;
   position: relative;
}

.isi-container {
   overflow-y: scroll;
   overflow-x: hidden;
   display: block;
   position: relative;
   height: 100%;
}

.isi {
   position: absolute;
   padding: $content-outer-padding;
   padding-right: 0;
   width: 100%;
   top: 0;
   left: 0;
   background-color: $isi-background-color;
   color: $isi-text-color;
   font-size: 9px;

   &__content {

      p {
         margin: 1rem 0;
      }
   }
}