* {
  box-sizing: border-box;
}

#expand-button {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}

#expanded-panel {
  display: none;
}