.main-content-wrapper {
  height: $main-content-height;
  width: $main-content-width;
  background: linear-gradient($gradient-direction, $peach, $light-blue);

  .animated-content {
    width: 100%;
    height: 100%;
    padding: $content-outer-padding;
    display: flex;
    flex-direction: $flex-direction;
    position: relative;
  }

  .screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &.screen-1 {
      display: none;
      padding: $content-outer-padding;
      justify-content: center;
      align-items: center;
    }
  }
}