<!doctype html>
<html>
  <head>
    <title>{{ banner }}</title>
    <meta charset="utf-8">
    <!-- disable IE11 phone number detection -->
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="ad.size" content="width={{ width }}, height={{ height }}">
    <link rel="stylesheet" href="css/main.css">
    {{ enabler() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll-probe.min.js"></script>
    <script type="text/javascript" src="js/bundle.js"></script>
  </head>
  <body>
    <div id="main-panel" class="{{ banner }} {{ studio }} {% block bannerClass %}{% endblock %}">
      <div id="main-content-wrapper" class="main-content-wrapper">
          
        {% block content %}{% endblock %}
              
      </div>
      <div id="isi-container-wrapper" class="isi-container-wrapper">
        <div id="isi-container" class="isi-container">
          <div id="isi" class="isi">        

            {% block isi %}{% endblock %}
              
          </div>
        </div>
      </div>
    </div>
    <div id="error-wrapper">
      <pre id="errors"></pre>
    </div>
  </body>
</html>