// Declare Variables with consistent values here
// Variables with orientation specific values should be written in horizontal.scss and vertical.scss

// Colors
$yellow: rgb(254, 197, 46);
$turqoise: rgb(33, 179, 150);
$navy: rgb(17,58,114);
$medium-grey: rgb(153, 153, 153);
$white-semi-transparent: rgba(255, 255, 255, 0.5);

// Component Colors
$isi-background-color: $navy;
$isi-scrollbar-background-color: $isi-background-color;
$thumb-color: $white-semi-transparent;
$isi-text-color: white;

// Component Sizes
$scrollbar-width: 20px;
$thumb-height: 35px;
$content-outer-padding: 5px;