/* Declare Variables with Orientation-Specific Values Here */
$main-content-height : 50%;
$main-content-width: 100%;
$isi-height : 50%;
$isi-width: 100%;

$gradient-direction: bottom;
$flex-direction: column;

/* Place SCSS for vertical banners here */

.h-only {
  display: none;
}





